Section 1: Lists
1.
1. Create a list of 5 integers. Write a program to find the sum and average of the list.
2.
2. Write a program to reverse a list without using built-in reverse functions.
3.
3. Given a list of numbers, write a program to print only even numbers from the list.

In [2]:
my_list = [3,2,8,3,9]

sum(my_list)

25

In [7]:
import numpy as np
np.mean(my_list)

np.float64(5.0)

In [8]:
reversed_list = my_list[::-1]
reversed_list

[9, 3, 8, 2, 3]

In [9]:
def get_even_numbers(list):
    even_numbers = []
    for i in list:
        if i%2==0:
            even_numbers.append(i)
    return even_numbers

get_even_numbers(my_list)

[2, 8]

Section 2: Tuples
4.
4. Create a tuple of 5 strings. Write a program to print each string on a new line.
5.
5. Given a tuple of numbers, find and print the maximum and minimum values.
6.
6. Given two tuples: tup1 = (1, 2, 3) tup2 = (4, 5, 6) Write a program to concatenate them and print the result.

In [10]:
my_tuple = ('apple','mango','banana','orange','kiwi')

for fruit in my_tuple:
    print(fruit)

apple
mango
banana
orange
kiwi

In [11]:
tuple_numer = (1,2,3,4,5)
min(tuple_numer)

1

In [12]:
max(tuple_numer)

5

In [13]:
tup1 = (1,2,3)
tup2 = (4,5,6)

tup = tup1+tup2
tup

(1, 2, 3, 4, 5, 6)

Section 3: Dictionaries
7.
7. Create a dictionary where the keys are the names of students and the values are their scores. Write a program to print the names of students who scored more than 75.
8.
8. Write a program to add a new key-value pair to an existing dictionary.
9.
9. Write a program to count the number of occurrences of each word in a given sentence (word frequency counter using a dictionary).

In [15]:
student = {'sachin':98,'virat':99,'zaheer':25,'Yuvraj':55,'Kumle':35}

for name,score in student.items():
    if score>75:
        print(name)

sachin
virat

In [16]:
student['Mahesh']=50

In [17]:
student

{'sachin': 98,
 'virat': 99,
 'zaheer': 25,
 'Yuvraj': 55,
 'Kumle': 35,
 'Mahesh': 50}

In [18]:
sentence = 'this is a senetece to count the number of occurance of each letter'

from collections import Counter
Counter(sentence)

Counter({' ': 12,
         'e': 10,
         't': 7,
         'c': 6,
         'o': 5,
         'n': 4,
         'h': 3,
         's': 3,
         'a': 3,
         'u': 3,
         'r': 3,
         'i': 2,
         'f': 2,
         'm': 1,
         'b': 1,
         'l': 1})

Section 4: Sets
10.
10. Given two sets: A = {1, 2, 3, 4, 5} B = {4, 5, 6, 7, 8} Write a program to print: - The union of A and B - The intersection of A and B - The difference of A - B

In [19]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
A.intersection(B)

{4, 5}

In [21]:
A.difference(B)

{1, 2, 3}

11.
11. Write a program to remove duplicate elements from a list using a set.

In [23]:
dup_list = [1,1,4,5,7,8,9,9,4]
remove_dup = set(dup_list)
remove_dup

{1, 4, 5, 7, 8, 9}

Section 5: Functions
12.
12. Write a function is_even(n) that returns True if the number n is even, otherwise returns False.
13.
13. Write a function factorial(n) that returns the factorial of a number n. Use a loop, not recursion.

In [24]:
def is_even(number):
    if number%2==0:
        return True
    else:
        return False

In [25]:
is_even(8)

True

In [27]:
is_even(5)

False

In [30]:
def factorial(n):
    if n<0:
        raise ValueError("\n must be non-negative")
    result = 1
    for i in range(2,n+1):
        result *=i
    return result

factorial(4)

24

Section 6: Loops
14.
14. Write a program that prints all numbers from 1 to 50. But for multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz". For numbers which are multiples of both 3 and 5, print "FizzBuzz".
15.
15. Write a program to print the following pattern using a loop: * * * * * * * * * * * * * * *

In [37]:
for i in range(1,51):
    if i%3==0 and   i%5==0:
        print('FizzBuzz')
    elif i%5==0:
        print('Buzz')
    elif i%3==0: 
        print('Fizz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [38]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****